@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "GmarketSansMedium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Swiper bullet Custom */
.swiper-pagination-bullet {
  @apply !bg-white;
}
.swiper-button-prev,
.swiper-button-next {
  @apply !text-white;
  @apply hover:bg-black hover:bg-opacity-70 rounded-lg p-10 transition-all duration-500;
}

/* confirm alert Custom */
.react-confirm-alert-overlay {
  @apply !bg-black !bg-opacity-75;
}
.react-confirm-alert-button-group button {
  @apply !bg-theme-color !text-white;
}
